<a href="https://colab.research.google.com/github/quotation3/Algorithm/blob/master/Level1_programmers_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 자연수 뒤집어 배열로 만들기

In [30]:
n = 12345
# return [5,4,3,2,1]

In [12]:
def solution(n):
    return list(reversed([int(i) for i in str(n)]))

In [14]:
solution(n)

[5, 4, 3, 2, 1]

In [13]:
# 다른 풀이
def digit_reverse(n):
    return list(map(int, reversed(str(n))))

### 정수 내림차순으로 배치하기

In [15]:
n = 118372
# return 873211

In [28]:
def solution(n):
    lis = list(map(str,sorted(str(n),reverse=True)))
    return int(''.join(lis))

In [29]:
solution(n)

873211

In [35]:
# 다른 풀이
def solution(n):
    ls = list(str(n))
    ls.sort(reverse = True)
    return int("".join(ls))

### 정수 제곱근 판별

In [36]:
n = 121
# return 144

In [37]:
def solution(n):
    if (n**0.5)%1 == 0:
        return ((n**0.5)+1)**2
    return -1

In [38]:
solution(n)

144.0

In [39]:
# 다른 풀이
def nextSqure(n):
    return n == int(n**.5)**2 and int(n**.5+1)**2 or -1
    # 'and','or'쓰면 간단해짐

### 제일 작은 수 제거하기

In [54]:
arr = [4,3,2,1]
# return [4,3,2]

In [50]:
def solution(arr):
    if len(arr)>1:
        arr.remove(min(arr))
    else:
        arr = [-1]
    return arr

In [51]:
solution(arr)

[4, 3, 2]

In [56]:
### 다른 풀이
def rm_small(mylist):
    return [i for i in mylist if i > min(mylist)] or [-1]
    # 가장 작은 값보다 크면 리턴

### 짝수와 홀수

In [58]:
num = 3
# return 'Odd'

In [59]:
def solution(num):
    return num%2==0 and 'Even' or 'Odd'

In [60]:
solution(num)

'Odd'

### 키패드 누르기

In [26]:
numbers = ['1', '3', '4', '5', '8','2', '1', '4', '5', '9', '5']
hand = 'right'
# result = 'LRLLLRLLRRL'

In [31]:
def solution(numbers, hand):
    answer = ''
    location = [[3, 1], [0, 0], [0, 1], [0, 2], [1, 0], [1, 1], [1, 2], [2, 0], [2, 1], [2, 2]]
    left, right = [3, 0], [3, 2]
    numbers = list(map(int,numbers))
    for i in numbers:
        if i in [1,4,7]:
            answer += 'L'
            left = location[i]
        elif i in [3,6,9]:
            answer += 'R'
            right = location[i]
        else:
            l = abs(location[i][0] - left[0]) + abs(location[i][1] - left[1])
            r = abs(location[i][0] - right[0]) + abs(location[i][1] - right[1])
            if l < r:
                answer += 'L'
                left = location[i]
            elif l > r:
                answer += 'R'
                right = location[i]
            else:
                answer += hand[0].upper() # hand의 앞글자 따기
                if hand == 'right':
                    right = location[i]
                else:
                    left = location[i]                

    return answer

In [32]:
solution(numbers, hand)

'LRLLLRLLRRL'

### 최대공약수와 최소공배수

In [53]:
n = 3
m = 12
# return [3,12]

In [61]:
def solution(n, m):
    yaksu = []
    for i in range(1,n+1):
        if m*i%n == 0:
            baesu = m*i
            break
            
    for i in range(1,n+1):
        if n%i == 0 and m%i == 0:
            yaksu.append(i)
            
    answer = [max(yaksu),baesu]
    
    return answer

In [62]:
solution(n, m)

[3, 12]

유클리드 호제법 : 2개의 자연수(또는 정식) a, b에 대해서 a를 b로 나눈 나머지를 r이라 하면(단, a>b), a와 b의 최대공약수는 b와 r의 최대공약수와 같다

ex) 1071과 1029의 최대공약수를 구하면,
1071은 1029로 나누어떨어지지 않기 때문에, 1071을 1029로 나눈 나머지를 구한다. ≫ 42
1029는 42로 나누어떨어지지 않기 때문에, 1029를 42로 나눈 나머지를 구한다. ≫ 21
42는 21로 나누어떨어진다.

In [65]:
# 유클리드 호제법
def gcdlcm(a, b):
    c, d = max(a, b), min(a, b)
    t = 1
    while t > 0:
        t = c % d # 최댓값과 최솟값을 나눈 나머지를 t라 한다
        c, d = d, t # 최솟값과 t의 나머지를 구하는 과정을 반복한다
    answer = [c, int(a*b/c)]

    return answer

In [66]:
gcdlcm(3, 12)

[3, 12]