<a href="https://colab.research.google.com/github/quotation3/Algorithm/blob/master/Level1_programmers_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 자연수 뒤집어 배열로 만들기

In [30]:
n = 12345
# return [5,4,3,2,1]

In [12]:
def solution(n):
    return list(reversed([int(i) for i in str(n)]))

In [14]:
solution(n)

[5, 4, 3, 2, 1]

In [13]:
# 다른 풀이
def digit_reverse(n):
    return list(map(int, reversed(str(n))))

### 정수 내림차순으로 배치하기

In [15]:
n = 118372
# return 873211

In [28]:
def solution(n):
    lis = list(map(str,sorted(str(n),reverse=True)))
    return int(''.join(lis))

In [29]:
solution(n)

873211

In [35]:
# 다른 풀이
def solution(n):
    ls = list(str(n))
    ls.sort(reverse = True)
    return int("".join(ls))

### 정수 제곱근 판별

In [36]:
n = 121
# return 144

In [37]:
def solution(n):
    if (n**0.5)%1 == 0:
        return ((n**0.5)+1)**2
    return -1

In [38]:
solution(n)

144.0

In [39]:
# 다른 풀이
def nextSqure(n):
    return n == int(n**.5)**2 and int(n**.5+1)**2 or -1
    # 'and','or'쓰면 간단해짐

### 제일 작은 수 제거하기

In [54]:
arr = [4,3,2,1]
# return [4,3,2]

In [50]:
def solution(arr):
    if len(arr)>1:
        arr.remove(min(arr))
    else:
        arr = [-1]
    return arr

In [51]:
solution(arr)

[4, 3, 2]

In [56]:
### 다른 풀이
def rm_small(mylist):
    return [i for i in mylist if i > min(mylist)] or [-1]
    # 가장 작은 값보다 크면 리턴

### 짝수와 홀수

In [58]:
num = 3
# return 'Odd'

In [59]:
def solution(num):
    return num%2==0 and 'Even' or 'Odd'

In [60]:
solution(num)

'Odd'

### 키패드 누르기

In [ ]:
numbers = ['1', '3', '4', '5', '8','2', '1', '4', '5', '9', '5']
hand = 'right'
result = 'LRLLLRLLRRL'

In [ ]:
l_num = [1,4,7,10]
r_num = [3,6,9,12]
m_num = [2,5,8,11]
result = ''
l_position = 10
r_position = 12

for i in numbers:
    if int(i) in l_num:
        result+='L'
        l_position = int(i)
    elif int(i) in r_num:
        result+='R'
        r_position = int(i)
    else:
        if l_num.index(l_position) = r_num.index(l_position):
            if hand = 'right':
                result+='R'
                r_position = int(i)
            else:
                result+='L'
                l_position = int(i)
        else: