<a href="https://colab.research.google.com/github/quotation3/Algorithm/blob/master/%EB%B0%B1%EC%A4%801%EC%A3%BC%EC%B0%A8(step1_10).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 입출력과 사칙연산 - Hello World
print('Hello World!')

Hello World!

In [2]:
# 입출력과 사칙연산 - 고양이
print("\\    /\\\n )  ( ')\n(  /  )\n \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [3]:
# if문 - 두 수 비교하기
A, B = input().split(' ')
A = int(A)
B = int(B)
if A>B:
    print('>')
elif A<B:
    print('<')
else :
    print('==')

5 4
>

In [4]:
# if문 - 윤년
year = int(input(''))

if year%4 == 0 and year%100 != 0:
    print('1')
elif year%400  == 0:
    print('1')
else:
    print('0')

2016
1

In [5]:
# for문 - 구구단
N = int(input())
for i in range(1,10):
    print(N,'*',i,'=',N*i)

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [6]:
# for문 - N찍기
a = int(input())
for i in range(1,a+1):
    print(i)

5
1
2
3
4
5

In [7]:
# while문 - A+B - 5
while True:
    A,B = input().split(' ')
    A = int(A)
    B = int(B)
    if A != 0 and B != 0:
        print(A+B)

    if A == 0 and B == 0:
        break

6 7
13
15 4
19
0 0

In [8]:
# while문 - 더하기 사이클
a = int(input())
check = a
cnt = 0

while True:
    x = a//10 + a%10
    new_x = (a%10)*10 + x%10
    cnt += 1
    a = new_x
    if new_x == check:
        break
print(cnt)

42
4

In [9]:
# 실습1 - 평균 점수
s = []
for j in range(5):
    a=int(input())
    if a<40:
        a = 40
    s.append(a)

avg = int(sum(s)/5)
print(avg)

61
85
63
14
77
65

In [16]:
# 실습1 - 세 수
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)

n_li = [a,b,c]
list(reversed(n_li))[1]

85 74 12

74

In [17]:
# 실습1 - 세 수
a = list(input().split())
for i in range(len(a)):
    a[i] = int(a[i])
a.sort(reverse=True)
print(a[1])

6 4 12
6

In [20]:
# 1차원 배열 - 최소, 최대
a = int(input())
b = input().split()
n_li = []
for i in range(a):
    n_li.append(int(b[i]))
    
print(min(n_li), max(n_li))

3
4 5 3
3 5

In [21]:
# 1차원 배열 - 숫자의 개수
a = int(input())
b = int(input())
c = int(input())

n= str(a*b*c)

for i in range(10):
    print(n.count(str(i)))

2
9
7
0
1
1
0
0
0
1
0
0
0

In [24]:
# 1차원 배열 - 평균은 넘겠지
n = int(input())
result = []
for i in range(n):
    s_li = list(map(int, input().split()))
    avg = sum(s_li[1:])/s_li[0]
    cnt=0
    for j in s_li[1:]:
        if j > avg:
            cnt+=1
    result.append(cnt/s_li[0])

for r in result:
    print(format(r,'.3%'))

3
94 51 64
75 56 35
41 56 98
2.128%
2.667%
4.878%

In [25]:
# 함수 - 정수 N개의 합
def solve(a):
    ans = 0
    for v in a:
        ans += v
    return ans

In [26]:
# 함수 - 한수
n = int(input())
cnt = 0

for i in range(1, n+1):
    if i <=99:
        cnt+=1
    else:
        if int(str(i)[0])-int(str(i)[1]) == int(str(i)[1])-int(str(i)[2]):
            cnt+=1
cnt

5

5

In [34]:
# 문자열 - 아스키코드
x = input()
print(ord(x))

d
100

In [35]:
# 문자열 - 상수
a, b = input().split()
a = int(a)
b = int(b)
new_a = int(str(a)[::-1])
new_b = int(str(b)[::-1])

print(max(new_a,new_b))

6 4
6

In [36]:
# 수학1 - 손익분기점
a,b,c = map(int, input().split())
if b>=c:
    print(-1)
else:
    n = a/(c-b)
    print(int(n)+1)

51 54 68
4

In [38]:
# 수학1 - 분수찾기
n = int(input())
lis = []
if n<5:
    print(-1)
else:
    for y in range((n//3)+1):
        for x in range((n//5)+1):
            if ((5*x + 3*y) == n) :
                lis.append(x+y)
    print(min(lis))

65
13

In [39]:
# 수학2 - 소수찾기
n = int(input())
a = list(map(int,(input().split())))
result = 0
for x in a:
    cnt = 0
    if x==1:
        continue
    for y in range(2,x+1):
       if x%y == 0:
           cnt+=1
    if cnt==1:
        result +=1
result

77
58

0

In [41]:
# 수학2 - 직사각형에서 탈출
x,y, w, h = map(int,(input().split()))
print(min([x, y, w - x, h - y]))

2 4 4 3
-1