<a href="https://colab.research.google.com/github/quotation3/Algorithm/blob/master/%EB%B0%B1%EC%A4%802%EC%A3%BC%EC%B0%A8(step11_14).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

재귀 - 팩토리얼

In [10]:
n=int(input())
def factorial(n):
    if n <1 :
        return 1
    else:
        return n*factorial(n-1)
print(factorial(n))

5
120

재귀 - 피보나치

In [11]:
n = int(input())
def fibo(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)
print(fibo(n))

15
610

브루트포스 - 덩치

In [12]:
n = int(input())
info = []
for i in range(n):
    w, h = map(int, input().split())
    info.append((w,h))

for p in info:
    rank = 0

    for o in info:
        if (p[0]!=o[0]) & (p[1]!=o[1]):
            if p[0]<o[0] and  p[1]<o[1] :
                rank+=1

    print(rank+1)

5
59 172
72 172
45 161
47 155
52 158
1
1
3
4
3

In [13]:
n = int(input())
info = []
for i in range(n):
    w, h = map(int, input().split())
    info.append((w,h))

for p in info:
    rank = 0

    for o in info:
        if p[0]<o[0] and  p[1]<o[1] :
            rank+=1

    print(rank+1)

5
59 172
72 172
45 161
47 155
52 158
1
1
3
4
3

브루트포스 - 영화감독 숌

In [14]:
n = int(input())
movie = 666

while n:
    if "666" in str(movie):
        n -= 1
    movie += 1

print(movie - 1)

5
4666

정렬 - 수 정렬하기

In [15]:
n = int(input())
lis = []
for i in range(n):
    lis.append(int(input()))

lis.sort()

for i in lis:
    print(i)

9
5
1
2
3
7
2
9
6
4
1
2
2
3
4
5
6
7
9

정렬 - 통계학

In [16]:
n = int(input())
lis = []
for i in range(n):
    lis.append(int(input()))
lis.sort()

freq_lis = []

if n==1:
    print(lis[0])
    print(lis[0])
    print(1)
    print(0)

else:
    for i in lis:
        freq_lis.append(lis.count(i))
        a = max(freq_lis)
    print(round(sum(lis)/n))
    print(lis[n//2])
    print(a)
    print(lis[n-1]-lis[0])

5
1
3
7
9
50
14
7
1
49