<a href="https://colab.research.google.com/github/quotation3/Algorithm/blob/master/%EB%B0%B1%EC%A4%80_%EB%B8%8C%EB%A3%A8%ED%8A%B8%ED%8F%AC%EC%8A%A4%2C%EC%A0%95%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

분해합 문제

In [4]:
def bunhae(n):
    e = list(map(int,str(n)))
    hap = n+sum(e)
    return hap
T = int(input())
n=0
while n<=T:
    if bunhae(n) != T:
        n+=1
        result = 0
    elif bunhae(n) == T:
        result = n
        break
print(result)

216
198

블랙잭 문제

In [7]:
from itertools import combinations

n, m = map(int,input().split())
arr = list(map(int, input().split()))

result = list(combinations(arr,3))

sum_lis = []
for each in result:
    if sum(each)<=m:
        sum_lis.append(sum(each))
print(max(sum_lis))

5 21
5 6 7 8 9

[(5, 6, 7),
 (5, 6, 8),
 (5, 6, 9),
 (5, 7, 8),
 (5, 7, 9),
 (5, 8, 9),
 (6, 7, 8),
 (6, 7, 9),
 (6, 8, 9),
 (7, 8, 9)]

소트인사이드

In [18]:
n = int(input())

lis = list(map(str, str(n)))
lis.sort(reverse=True)
print(int(''.join(lis)))

2143

['2', '1', '4', '3']

수 정렬하기2

In [59]:
n = int(input())

lis = []
for _ in range(n):
    x = int(input())
    lis.append(x)

lis.sort(key=lambda x: x)
for i in lis:
    print(i)

5
5
4
1
2
3
1
2
3
4
5

수 정렬하기3

In [27]:
n = int(input())

lis = []
for _ in range(n):
    x = int(input())
    lis.append(x)

count = [0]*10001

for i in range(len(lis)):
    count[lis[i]] += 1
for i in range(len(count)):
    for j in range(count[i]):
        print(i)

5
1
3
1
2
4
1
1
2
3
4

좌표정렬하기2

In [53]:
n = int(input())

lis = []
for _ in range(n):
    x = list(map(int, input().split()))
    lis.append(x)

lis.sort(key=lambda x: (x[1], x[0]))
for i in lis:
    print(i[0], i[1])

5
0 4
3 3
2 2
1 -1
1 2
1 -1
1 2
2 2
3 3
0 4

단어정렬

In [63]:
import sys
n = int(input())
lis = []
for _ in range(n):
    lis.append(input())

lis.sort(key=lambda x: (len(x),x))
for i in lis:
    print(i)

13
but
i
wont
hesitate
no
more
no
more
it
cannot
wait
im
yours
i
im
it
no
no
but
more
more
wait
wont
yours
cannot
hesitate

나이순정렬

In [66]:
n = int(input())
member = []
for i in range(n):
    member.append(list(input().split()))
member.sort(key=lambda x: int(x[0]))
for i in range(n):
    print(member[i][0], member[i][1])

3
21 Junkyu
21 Dohyun
20 Sunyoung
20 Sunyoung
21 Junkyu
21 Dohyun