<a href="https://colab.research.google.com/github/quotation3/Algorithm/blob/master/%EC%A0%95%EB%A0%AC_programmers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### K번째 수

배열 array의 i번째 숫자부터 j번째 숫자까지 자르고 정렬했을 때, k번째에 있는 수를 구하려 합니다.

예를 들어 array가 [1, 5, 2, 6, 3, 7, 4], i = 2, j = 5, k = 3이라면

array의 2번째부터 5번째까지 자르면 [5, 2, 6, 3]입니다.
1에서 나온 배열을 정렬하면 [2, 3, 5, 6]입니다.
2에서 나온 배열의 3번째 숫자는 5입니다.
배열 array, [i, j, k]를 원소로 가진 2차원 배열 commands가 매개변수로 주어질 때, commands의 모든 원소에 대해 앞서 설명한 연산을 적용했을 때 나온 결과를 배열에 담아 return 하도록 solution 함수를 작성해주세요.

In [112]:
array = [1, 5, 2, 6, 3, 7, 4]
commands = 	[[2, 5, 3], [4, 4, 1], [1, 7, 3]]
# return [5, 6, 3]

In [113]:
def solution(array, commands):

    answer = []
    for i in commands:
        lis = sorted(array[i[0]-1:i[1]])
        answer.append(lis[i[2]-1])

    return answer

In [114]:
solution(array, commands)

[5, 6, 3]

In [115]:
def solution(array, commands):
    return list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

### 가장 큰 수

0 또는 양의 정수가 주어졌을 때, 정수를 이어 붙여 만들 수 있는 가장 큰 수를 알아내 주세요.

예를 들어, 주어진 정수가 [6, 10, 2]라면 [6102, 6210, 1062, 1026, 2610, 2106]를 만들 수 있고, 이중 가장 큰 수는 6210입니다.

0 또는 양의 정수가 담긴 배열 numbers가 매개변수로 주어질 때, 순서를 재배치하여 만들 수 있는 가장 큰 수를 문자열로 바꾸어 return 하도록 solution 함수를 작성해주세요.

In [116]:
numbers = [6, 10, 2]
# return '6210'

In [117]:
# permutations으로 시간 초과
from itertools import permutations

def solution(numbers):

    lis = [str(i) for i in numbers]
    permute = (list(permutations(lis,len(numbers))))
    answer = [int(''.join(i)) for i in permute]

    return str(max(answer))

In [118]:
solution(numbers)

'6210'

In [119]:
def solution(numbers):
    numbers = list(map(str,numbers))
    numbers = sorted(numbers, key=lambda x:(x[0],x[1%len(x)],x[2%len(x)],x[3%len(x)]), reverse=True)
    answer = ''.join(numbers)
    return answer if int(answer)!=0 else '0'

In [120]:
solution(numbers)

'6210'

### H-Index

H-Index는 과학자의 생산성과 영향력을 나타내는 지표입니다. 어느 과학자의 H-Index를 나타내는 값인 h를 구하려고 합니다. 위키백과1에 따르면, H-Index는 다음과 같이 구합니다.

어떤 과학자가 발표한 논문 n편 중, h번 이상 인용된 논문이 h편 이상이고 나머지 논문이 h번 이하 인용되었다면 h의 최댓값이 이 과학자의 H-Index입니다.

어떤 과학자가 발표한 논문의 인용 횟수를 담은 배열 citations가 매개변수로 주어질 때, 이 과학자의 H-Index를 return 하도록 solution 함수를 작성해주세요.

In [121]:
citations = [3, 0, 6, 1, 5]
# return 3

이 과학자가 발표한 논문의 수는 5편이고, 그중 3편의 논문은 3회 이상 인용되었습니다. 그리고 나머지 2편의 논문은 3회 이하 인용되었기 때문에 이 과학자의 H-Index는 3입니다.

In [122]:
len(citations)

5

In [123]:
def solution(citations):

    for i in range(len(citations),-1,-1):
        if sum(1 for j in citations if j>=i)>=i:
            break

    return i

In [124]:
solution(citations)

3

다른 풀이1 : 정렬한 후 [i]번째 값보다 크거나 같은 데이터가 전체길이에서 i 뺀 만큼 있을 때 i 출력 => i번째부터 끝까지의 데이터 개수가 i개일때

In [125]:
def solution(citations):
    citations = sorted(citations)
    l = len(citations)
    for i in range(l):
        if citations[i] >= l-i:
            return l-i
    return 0

다른풀이2 : enumerate(citations, start=1)함수를 써서 citations의 각 요소에 1부터 시작하는 인덱스(인덱스,요소)를 붙인다.인덱스를 붙인 상태에서 map함수를 이용해 각 요소와 인덱스를 비교해 min값을 가져오게 된다. 즉 (1,6)을 비교해 작은값 1, (2,5)를 비교해 작은값 2, (3,3)을 비교해 작은값 3, (4,1)을 비교해 작은값 1, (5,0)을 비교해 작은값 0을 가져와 (1,2,3,1,0)형태가 된다. 이중 max값을 반환하면 H-Index 중 최대값을 반환하게 된다.

In [126]:
def solution(citations):
    citations.sort(reverse=True)
    answer = max(map(min, enumerate(citations, start=1)))
    return answer