<a href="https://colab.research.google.com/github/quotation3/Algorithm/blob/master/%ED%95%B4%EC%8B%9C_programmers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 완주하지 못한 선수

수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다.

마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때, 완주하지 못한 선수의 이름을 return 하도록 solution 함수를 작성해주세요.

In [ ]:
participant = ['leo', 'kiki', 'eden']
completion = ['eden', 'kiki']
# return 'leo'

입출력 예 설명
예제 #1
leo는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.

예제 #2
vinko는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.

예제 #3
mislav는 참여자 명단에는 두 명이 있지만, 완주자 명단에는 한 명밖에 없기 때문에 한명은 완주하지 못했습니다.

In [ ]:
import collections

def solution(participant, completion):
    answer = collections.Counter(participant) - collections.Counter(completion)
    return list(answer.keys())[0]

In [ ]:
solution(participant, completion)

'leo'

### 전화번호 목록

전화번호부에 적힌 전화번호 중, 한 번호가 다른 번호의 접두어인 경우가 있는지 확인하려 합니다.
전화번호가 다음과 같을 경우, 구조대 전화번호는 영석이의 전화번호의 접두사입니다.

구조대 : 119
박준영 : 97 674 223
지영석 : 11 9552 4421
전화번호부에 적힌 전화번호를 담은 배열 phone_book 이 solution 함수의 매개변수로 주어질 때, 어떤 번호가 다른 번호의 접두어인 경우가 있으면 false를 그렇지 않으면 true를 return 하도록 solution 함수를 작성해주세요.

In [ ]:
phone_book = ['119', '97674223', '1195524421']
# return False

In [ ]:
def solution(phone_book):
    phone_book.sort()
    for p1, p2 in zip(phone_book, phone_book[1:]):
        if p2.startswith(p1):
            return False
    return True

In [ ]:
solution(phone_book)

False

### 위장

스파이들은 매일 다른 옷을 조합하여 입어 자신을 위장합니다.

예를 들어 스파이가 가진 옷이 아래와 같고 오늘 스파이가 동그란 안경, 긴 코트, 파란색 티셔츠를 입었다면 다음날은 청바지를 추가로 입거나 동그란 안경 대신 검정 선글라스를 착용하거나 해야 합니다.

스파이가 가진 의상들이 담긴 2차원 배열 clothes가 주어질 때 서로 다른 옷의 조합의 수를 return 하도록 solution 함수를 작성해주세요.

In [ ]:
clothes = [['yellow_hat', 'headgear'], ['blue_sunglasses', 'eyewear'], ['green_turban', 'headgear']]
# return 5

예제 #1
headgear에 해당하는 의상이 yellow_hat, green_turban이고 eyewear에 해당하는 의상이 blue_sunglasses이므로 아래와 같이 5개의 조합이 가능합니다.

In [ ]:
import collections

def solution(clothes):
    type_lis = []
    for i in clothes:
        type_lis.append(i[1])
    type_cnt = collections.Counter(type_lis)

    result = 1
    for num in list(type_cnt.values()):
        result *= (num+1)
    return result-1

In [ ]:
solution(clothes)

5

In [ ]:
# 방법2
def solution(clothes):
    from collections import Counter
    from functools import reduce
    cnt = Counter([kind for name, kind in clothes])
    answer = reduce(lambda x, y: x*(y+1), cnt.values(), 1) - 1
    return answer

### 베스트 앨범

스트리밍 사이트에서 장르 별로 가장 많이 재생된 노래를 두 개씩 모아 베스트 앨범을 출시하려 합니다. 노래는 고유 번호로 구분하며, 노래를 수록하는 기준은 다음과 같습니다.

속한 노래가 많이 재생된 장르를 먼저 수록합니다.
장르 내에서 많이 재생된 노래를 먼저 수록합니다.
장르 내에서 재생 횟수가 같은 노래 중에서는 고유 번호가 낮은 노래를 먼저 수록합니다.
노래의 장르를 나타내는 문자열 배열 genres와 노래별 재생 횟수를 나타내는 정수 배열 plays가 주어질 때, 베스트 앨범에 들어갈 노래의 고유 번호를 순서대로 return 하도록 solution 함수를 완성하세요.

In [41]:
genres = ['classic', 'pop', 'classic', 'classic', 'pop']
plays = [500, 600, 150, 800, 2500]
# return [4, 1, 3, 0]

입출력 예 설명
classic 장르는 1,450회 재생되었으며, classic 노래는 다음과 같습니다.

고유 번호 3: 800회 재생
고유 번호 0: 500회 재생
고유 번호 2: 150회 재생
pop 장르는 3,100회 재생되었으며, pop 노래는 다음과 같습니다.

고유 번호 4: 2,500회 재생
고유 번호 1: 600회 재생
따라서 pop 장르의 [4, 1]번 노래를 먼저, classic 장르의 [3, 0]번 노래를 그다음에 수록합니다.

In [ ]:
genres_plays = {}
for i in range(len(genres)):
    if genres[i] in genres_plays.keys():
        genres_plays[genres[i]].append([i,plays[i]])
    else:
        genres_plays[genres[i]] = [[i, plays[i]]]
genres_plays

{'classic': [[0, 500], [2, 150], [3, 800]], 'pop': [[1, 600], [4, 2500]]}

In [ ]:
dic_cnt = {}
for key in genres_plays.keys():
    result = 0
    for i in range(len(genres_plays[key])):
        result += genres_plays[key][i][1]
    dic_cnt[key]=result
dic_cnt

{'classic': 1450, 'pop': 3100}

In [ ]:
genres_sort = sorted(dic_cnt,key= lambda x:x[1], reverse=True)
genres_sort

['pop', 'classic']

In [ ]:
answer = []

for g in genres_sort:

    # 장르의 곡이 1곡이면 answer에 추가
    if len(genres_plays[g]) == 1:
        answer.append(genres_plays[g[0]])

    # 장르의 곡이 1곡보다 많으면 모든 곡 tmp리스트에 넣고  정렬 후 상위 2개만 answser에 추가
    else:
        tmp = []
        for i in range(len(genres_plays[g])):
            tmp.append(genres_plays[g][i])
        tmp.sort(key=lambda x:x[1], reverse=True)
        answer.append(tmp[0][0])
        answer.append(tmp[1][0])
        
answer

[4, 1, 3, 0]

In [88]:
def solution(genres, plays):

    genres_plays = {}
    for i in range(len(genres)):
        if genres[i] in genres_plays.keys():
            genres_plays[genres[i]].append([i,plays[i]])
        else:
            genres_plays[genres[i]] = [[i, plays[i]]]
    
    dic_cnt = {}
    for key in genres_plays.keys():
        result = 0
        for i in range(len(genres_plays[key])):
            result += genres_plays[key][i][1]
        dic_cnt[key]=result
    
    genres_sort = sorted(dic_cnt,key= lambda x:x[1], reverse=True)

    answer = []

    for g in genres_sort:

        # 장르의 곡이 1곡이면 answer에 추가
        if len(genres_plays[g]) == 1:
            answer.append(genres_plays[g[0]])

        # 장르의 곡이 1곡보다 많으면 모든 곡 tmp리스트에 넣고  정렬 후 상위 2개만 answser에 추가
        else:
            tmp = []
            for i in range(len(genres_plays[g])):
                tmp.append(genres_plays[g][i])
            tmp.sort(key=lambda x:x[1], reverse=True)
            answer.append(tmp[0][0])
            answer.append(tmp[1][0])
            
    answer


    return answer

In [89]:
solution(genres, plays)

[4, 1, 3, 0]

시간 에러 -> 1. 함수화로 간소화 2. 정렬할때 items()하는게 더 단축되는 듯 (정확한건 아님)

In [69]:
def play_sum(li):
    total = 0
    for i in range(len(li)):
        total += li[i][1]
    return total

def get_top_2(li):
    li = sorted(li,key = lambda x:x[1], reverse=True)
    top1, top2 = li[0][0], li[1][0]
    return top1, top2

def solution(genres, plays):

    unique_genres = set(genres)

    genres_plays = {}
    for i in range(len(genres)):
        if genres[i] in genres_plays.keys():
            genres_plays[genres[i]].append([i,plays[i]])
        else:
            genres_plays[genres[i]] = [[i, plays[i]]]

    genres_plays_sum = {}
    for genre in unique_genres:
        li = genres_plays[genre]
        genres_plays_sum[genre] = play_sum(li)


    answer = []
    genres_plays_sum = sorted(genres_plays_sum.items(), key=(lambda x:x[1]), reverse=True)
    for g in genres_plays_sum:
        if len(genres_plays[g[0]]) == 1:
            answer.append(genres_plays[g[0]][0][0])
        else:
            a,b = get_top_2(genres_plays[g[0]])
            answer.append(a)
            answer.append(b)

    return answer

In [80]:
solution(genres, plays)

[4, 1, 3, 0]